<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31992218561-8lbkf5oa2bfs8ee4ajbf3hmm3bi24c6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31992218561-8lbkf5oa2bfs8ee4ajbf3hmm3bi24c6l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>31992218561-320o21vs2l5jrpc887fs3fm18j7m70pe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATWvEbJJSQmcepqH7UsiOMzC5hEGh5Oto</string>
	<key>GCM_SENDER_ID</key>
	<string>31992218561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zurex.busines</string>
	<key>PROJECT_ID</key>
	<string>aczurex-d4b61</string>
	<key>STORAGE_BUCKET</key>
	<string>aczurex-d4b61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31992218561:ios:7d41c443353f3086562540</string>
	<key>DATABASE_URL</key>
	<string>https://aczurex-d4b61-default-rtdb.firebaseio.com</string>
</dict>
</plist>