<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtbdOr4arb7aEbxhOF1nvAGh3gOTvakKI</string>
	<key>GCM_SENDER_ID</key>
	<string>387928468630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intelligentSolutions.zurexAdmin</string>
	<key>PROJECT_ID</key>
	<string>zurex_admin-1ec7a</string>
	<key>STORAGE_BUCKET</key>
	<string>zurex_admin-1ec7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387928468630:ios:c4c38cf351db15df4566b7</string>
</dict>
</plist>